@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'GmarketSansMedium';
    width: calc(100vw - (100vw - 100%));
    margin: 0;
    padding: 0;
    color: #332E2E;
    letter-spacing: -0.8px;
    overflow-x: hidden;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{    
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.contents > .top_ct{
    position: relative;
    margin-bottom: 150px;
}

.contents > .top_ct > .nav{
    width: 100%; height: 85px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.contents > .top_ct > .nav > .logo{
    background-image: url(img/eastar_logo_white.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 184px; height: 40px;
    margin: 0 0 10px 50px;
    z-index: 3;
}

.contents > .top_ct > .nav > .logo.is-hover{
    background-image: url(img/eastar_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 184px; height: 40px;
    margin: 0 300px 10px 50px;
    z-index: 3;
}

.contents > .top_ct > .nav > .nav_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 400px;
    opacity: 0;
    transition: all 0.3s ease;
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contents > .top_ct > .nav > .nav_wrap.is-hover{
    opacity: .9;
}

.contents > .top_ct > .nav.is-hover a{
    color: #332E2E;
    transition: all 0.5s ease;
}

.contents > .top_ct > .nav > ul{
    display: flex;
    position: relative;
    margin-right: 2%;
    gap: 5%;
}

.contents > .top_ct > .nav > ul > li{
    width: 150px;
    display: flex;
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
    justify-content: center;
}

.contents > .top_ct > .nav > ul > li > a::after{
    position: absolute;
    margin-top: 20px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 0; height: 2px;
    background-color: #332E2E;
    transition: all .3s;
}

.contents > .top_ct > .nav > ul > li > ul{
    display: none;
}

.contents > .top_ct > .nav > ul > li:hover > a::after{
    width: 100px;
    transition: all .3s;
}

.contents > .top_ct > .nav > ul > li.is-hover > ul{
    display: block;
    position: fixed;
    top: 10%;
    right: 14%;
    display: flex;
    font-size: 1.05rem;
    margin: 10px 0;
    transition: all 0.5s ease;
}

.contents > .top_ct > .nav > ul > li > ul > li{
    width: 200px;
    text-align: right;
}

.contents > .top_ct > .nav > ul > li > ul > li > ul{
    font-size: 0.9rem;
    font-weight: 400;
    margin: 10px 0;
    color: #474242;
}

.contents > .top_ct > .nav > ul > li > ul > li > ul > li{
    margin: 10px 0;
}

.contents > .top_ct > .nav > ul > li > ul > li > ul > li:hover{
    text-decoration: underline;
}

/* 반응형 메뉴 */

.contents > .top_ct > .nav > .nav_button{
    display: none;
    margin-right: 3%;
}

.contents > .top_ct > .nav > .nav_button > img{
    width: 35px; height: 35px;
    cursor: pointer;
}

.contents > .top_ct > .nav > .nav_button > .small_nav{
    width: 375px; height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    right: -120%;
    z-index: 1000;
    transition: all .3s;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > .small_nav_top{
    display: flex;
    padding: 15px 20px 0px 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > .small_nav_top > span{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    border: 1px solid #332e2e7a;
    background-color: white;
    border-radius: 30px;
    padding: 10px 10px 7px 10px;
    cursor: pointer;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > .small_nav_top > span:hover{
    background-color: #fff6f7;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > .small_nav_top > span > img{
    width: 18px; height: 20px;
    padding-bottom: 4px;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > .small_nav_top > img{
    width: 20px; height: 20px;
    cursor: pointer;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > ul{
    padding: 0 35px;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > ul > li{
    position: relative;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > ul > li > a{
    display: block;
    color: #332E2E;
    font-weight: bold;
    padding: 20px 0;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > ul > li > ul{
    display: none;
    background-color: #f2f4f8;
    border-radius: 15px;
    padding: 10px 24px;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > ul > li > ul > li > a{
    display: block;
    color: #332E2E;
    line-height: 250%;
    font-size: 0.9rem;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > ul > li > ul > li > a:hover{
    text-decoration: underline;
}

.contents > .top_ct > .nav > .nav_button > .small_nav > span{
    display: block;
    font-size: 0.9rem;
    color: #332e2ea1;
    text-align: center;
    padding: 30px 0;
    cursor: pointer;
}

.has_sub::after {
    content: "";
    display: block;
    background-image: url(img/down-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 27px;
    right: 0;
    cursor: pointer;
}

.has_sub.active::after {
    transform: rotate(180deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

/* .small_nav가 활성화될 때 오버레이를 보이게 함 */
.small_nav_active .overlay {
    display: block;
}

/* .small_nav가 활성화될 때 스크롤을 막음 */
.small_nav_active {
    overflow: hidden;
    height: 100vh; /* 화면 크기에 맞게 고정 */
}

.small_nav_active .small_nav {
    right: 0 !important;
    transition: all .3s;
}

.contents > .top_ct > .top_banner {
    width: 100%; 
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .8;
    border-radius: 0 0 150px 0;
}

.contents > .top_ct > .top_tab{
    min-width: 1119px;
    min-height: 340px;

    border: 1px solid #332e2e85;

    background-image: url(img/ticket.png);
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 30px;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    padding: 0 50px;

    font-family: 'Noto Sans KR', sans-serif;
    color: #a1a1a1;
    
    transition: top 0.7s ease-in-out;
}

.contents > .top_ct > .top_tab > div{
    position: absolute;
}

.contents > .top_ct > .top_tab > .button{
    top: 23%;
    left: 7.5%;
}

.contents > .top_ct > .top_tab > .button > .selected{
    border: 2px solid #d608169f;
    font-weight: bold;
    color: #d60815;
}

.contents > .top_ct > .top_tab > .button > button{
    border: 1px solid #332e2e2a;
    padding: 5px 15px;
    background-color: #fff;
    color: #332E2E;
    font-size: 0.9rem;
    border-radius: 20px;
    margin-right: 7px;
}

.contents > .top_ct > .top_tab > .location{
    width: 199px; height: 118px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
}

.contents > .top_ct > .top_tab > .location > span{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
}

.contents > .top_ct > .top_tab > .location > span:last-child{
    font-size: 0.9rem;
}

.contents > .top_ct > .top_tab > #lc1{
    top: 29%;
    left: 7.6%;
}

.contents > .top_ct > .top_tab > #lc2{
    top: 29%;
    left: 32.3%;
}

.contents > .top_ct > .top_tab > .info{
    top: 41%;
    left: 58%;
    width: 180px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contents > .top_ct > .top_tab > .info > div{
    cursor: pointer;
}

.contents > .top_ct > .top_tab > .etc{
    top: 28%;
    left: 83%;
    height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
}

.contents > .top_ct > .top_tab > .etc > p{
    cursor: pointer;
    transition: all .3s;
}

.contents > .top_ct > .top_tab > .etc > p:hover{
    color: #D30E18;
    transition: all .3s;
}

.contents > .top_ct > .tablet_top_tab{
    width: 85%; height: 73vh;
    background-color: white;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    display: none;
}

.contents > .top_ct > .tablet_top_tab > h1{
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-left: 4%;
    width: 100%; height: 50px;
    color: white;
    background-color: #D30E18;
    border-radius: 20px 20px 0 0;
}

.contents > .top_ct > .tablet_top_tab > hr{
    width: 90%;
    margin: 0 auto;
}

.contents > .top_ct > .tablet_top_tab > .type{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.contents > .top_ct > .tablet_top_tab > .type > span{
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}

.contents > .top_ct > .tablet_top_tab > .type > span.selected{
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: bold;
    color: #d60815;
}

.contents > .top_ct > .tablet_top_tab > .tablet_lc{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0;
}

.contents > .top_ct > .tablet_top_tab > .tablet_lc > .location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #D30E18;
    width: 30%; height: 150px;
    border-radius: 25px;
}

.contents > .top_ct > .tablet_top_tab > .tablet_lc > .location > span{
    cursor: pointer;
    opacity: .7;
    line-height: 170%;
}

.contents > .top_ct > .tablet_top_tab > .tablet_lc > .location > span:first-child{
    font-size: 18px;
    font-weight: bold;
}

.contents > .top_ct > .tablet_top_tab > .tablet_lc > .location > span:last-child{
    font-size: 15px;
}

.contents > .top_ct > .tablet_top_tab > .tablet_lc > .swap{
    width: 30px; height: 30px;
    border-radius: 15px;
    border: 1px solid #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contents > .top_ct > .tablet_top_tab > .tablet_lc > .swap > img{
    width: 24px;
}

.contents > .top_ct > .tablet_top_tab > .detail{
    width: 90%;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.contents > .top_ct > .tablet_top_tab > .detail > p{
    display: block;
    padding: 10px 0 5px 0;
    font-weight: bold;
}

.contents > .top_ct > .tablet_top_tab > .detail > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contents > .top_ct > .tablet_top_tab > .detail > div > span{
    cursor: pointer;
}

.contents > .top_ct > .tablet_top_tab > .detail > div > span:hover{
    color: #D30E18;
}

.contents > .top_ct > .tablet_top_tab > .detail > div > img{
    width: 20px; height: 20px;
    opacity: .7;
    margin-right: 20px;
    cursor: pointer;
}

.contents > .top_ct > .tablet_top_tab > .search_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%; height: 48px;
    margin: 60px auto 0 auto;
    background-color: #D30E18;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.contents > .top_ct > .tablet_top_tab > .search_btn:active{
    background-color: #a80e15;
}

.md_ct,
.bt_ct {
    margin: 0 auto;
    width: 80%;
}

.md_ct > .promotion > h1{
    font-size: 1.8rem;
    font-weight: bold;

    margin-bottom: 48px;
}

.accordion {
    display: flex;
    margin: 0 auto 95px auto;
    width: 100%;
    height: 638px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.accordion-item {
    flex: 1;
    background-size: cover;
    background-position: center;
    transition: flex 0.6s ease, opacity 0.6s ease;
    cursor: pointer;
    position: relative;
    opacity: 0.5;
    overflow: hidden;
}

.accordion-item.active {
    flex: 5;
    opacity: 1;
    height: auto;
}

.ac_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    transition: background 0.6s ease;
}

.text {
    position: absolute;
    bottom: 10%;
    right: 7%;
    color: #fff;
    font-size: 20px;
    text-align: right;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.text p {
    margin: 7px 0;
}

.text > p > .price {
    color: #d60815;
}

.accordion-item.active .text {
    opacity: 1;
}

.md_ct > .news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 121px;
    gap: 10%;
}

.md_ct > .news > .news_left{
    display: flex;
    flex-direction: column;
    min-width: 270px;
    max-width: 270px;
}

.md_ct > .news > .news_left > span:first-child{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: -0.8px;
    color: #D30E18;
    margin: 20px 0;
}

.md_ct > .news > .news_left > span:nth-child(2){
    font-weight: bold;
    font-size: 3.5rem;
    margin: 20px 0;
}

.md_ct > .news > .news_left > .news_more{
    width: 230px; height: 50px;
    padding: 10px;
    background-color: #332E2E;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all .3s;
    font-family: 'GmarketSansMedium';
}

.md_ct > .news > .news_left > .news_more:hover{
    background-color: #5e5757;
    transition: all .3s;
}

.md_ct > .news > .news_right{
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.8px;
    margin-top: 70px;
    overflow: hidden;
}

.md_ct > .news > .news_right > .news_ct{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}

.md_ct > .news > .news_right > .news_ct > .news_title{
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 0;
}

.md_ct > .news > .news_right > .news_ct > .news_title.important::before{
    content: "";
    background-image: url(img/important.png);
    display: inline-block;
    background-size: 48px 19px;
    width: 48px; height: 19px;
    margin-right: 7px;
    vertical-align: middle;
}

.md_ct > .news > .news_right > .news_ct > .news_title:hover{
    text-decoration: underline;
}

.md_ct > .news > .news_right > .news_ct > .news_date{
    color: #c2c2c2;    

}

.md_ct > .news > .news_right > .news_info{
    width: 100%;
    padding: 5px 10px 0 10px;
    color: #857f7f;
    overflow: hidden; /* 콘텐츠가 영역을 벗어나면 숨김 처리 */
    display: -webkit-box; /* 웹킷 속성을 사용하기 위함 */
    -webkit-line-clamp: 2; /* 최대 줄 수 */
    -webkit-box-orient: vertical; /* flex box 주축을 수직으로 설정 */
    text-overflow: ellipsis;
}


.md_ct > .news > .news_right > .news_ct > .news_date::before{
    content: "";
    background-image: url(img/clock.png);
    display: inline-block;
    background-size: 12px 12px;
    width: 12px; height: 12px;
    margin-right: 7px;
}

.bt_ct > .bt_banner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.bt_ct > .bt_banner > .event,
.bt_ct > .bt_banner > .service{
    width: 48%;
}

.bt_ct > .bt_banner > .event > .event_top{
    display: flex;
}

.bt_ct > .bt_banner > .event > .event_top > span:first-child{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: -0.8px;
    color: #D30E18;
    margin: 20px 0;
    padding-bottom: .5%;
}

.bt_ct > .bt_banner > .event > .event_slider{
    width: 100%; height: 100%;
}

.bt_ct > .bt_banner > .event > .event_slider > .autoplay{
    width: 100%;
    border-radius: 20px;
    /* background-color: #D9D9D9; */
    overflow: hidden;
    margin: 0 0 60px 0;
}

.bt_ct > .bt_banner > .event > .event_slider > .autoplay .event_ct{
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.bt_ct > .bt_banner > .event > .event_slider > .autoplay .event_ct img{
    width: 100%; height: 100%;
    object-position: center;
    object-fit: scale-down;
}

.bt_ct > .bt_banner > .service{
    display: flex;
    flex-direction: column;
}

.bt_ct > .bt_banner > .service > span:first-child{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: -0.8px;
    color: #D30E18;
    margin: 20px 0;
}

.bt_ct > .bt_banner > .service > .service_ct{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.bt_ct > .bt_banner > .service > .service_ct > div{
    width: 50%; height: 80%;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.bt_ct > .bt_banner > .service > .service_ct > div:hover{
    outline: 1px solid #D30E18;
}


.service_ct_left {
    background-image: url('img/service_ct_gray_1.png');
}

.service_ct_right {
    background-image: url('img/service_ct_gray_2.png');
}

.service_ct_left:hover {
    background-image: url('img/service_ct_1.png');
}

.service_ct_right:hover {
    background-image: url('img/service_ct_2.png');
}

.site_map{
    font-size: 1.1rem;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #777777;
    color: white;
    letter-spacing: -0.8px;
}

.site_map > .top{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 40px;
}

.site_map > .top > div{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.site_map > .top > div > p{
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 6px;
    border: 1px solid white;
    width: 75%;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}

.site_map > .top > div > p:hover{
    background-color: white;
    color: #332E2E;
    transition: all .3s;
}

.site_map > .top > div > span{
    margin: 5px 0;
}

.site_map > .top > div > span:last-child{
    color: #c2c2c2;
    font-size: 0.8rem;
}

.site_map > .middle{
    display: flex;
    width: 80%;
    margin: 40px auto 0 auto;
    justify-content: space-between;
}

.site_map > .middle div{
    display: flex;
    flex-direction: column;
}

.site_map > .middle div > span{
    color: #c2c2c2;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 5px 0;
}

.site_map > .middle div > span:first-child{
    font-size: 1.1rem;
    color: white;
    margin: 7px 0;
}

.site_map > .middle div > span:not(:first-child):hover{
    text-decoration: underline;
}

.desktop_footer_info{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    background-color: #444444;
    color: #c2c2c2;
}

.desktop_footer_info > .top,
.desktop_footer_info > .bottom{
    width: 80%;
    margin: 0 auto;
}

.desktop_footer_info > .top{
    display: flex;
}

.desktop_footer_info > .top > span{
    display: block;
    padding: 20px 0px 10px 0px;
    cursor: pointer;
    white-space: nowrap;
}

.desktop_footer_info > .top > span:hover{
    text-decoration: underline;
}

.desktop_footer_info > .top > span:not(:last-child)::after{
    content: "|";
    padding: 0 13px;
}

.desktop_footer_info > .bottom{
    padding: 15px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop_footer_info > .bottom .bottom_txt{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    line-height: 25px;
}

footer.tablet{
    display: none;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em;
}

footer.tablet::before{
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(295deg, rgb(51, 46, 46) 0%, rgb(211, 14, 24) 100%);
}

footer.tablet hr{
    width: 95%;
    margin: 0 auto;
}

footer.tablet > .tb_ft_top{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

footer.tablet > .tb_ft_top > img{
    width: 200px;
    margin-bottom: 10px;
}

footer.tablet > .tb_ft_top > strong{
    font-size: 17px;
    opacity: .8;
}

footer.tablet > .tb_ft_detail{
    margin: 0 auto;
    width: 95%;
    padding: 20px;
}

footer.tablet > .tb_ft_detail > span{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 15px;
}

footer.tablet > .tb_ft_detail > div{
    font-size: 13px;
    padding: 5px 0;
    color: #332e2e86;
}

footer.tablet > .tb_ft_detail > div > .info_name{
    font-weight: bold;
    padding-right: 10px;
}

footer.tablet > .tb_ft_detail > .copyright{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #332e2e86;
    font-size: 13px;
}

footer.tablet > .tb_ft_sns{
    display: flex;
    gap: 3%;
    justify-content: flex-end;

    margin: 0 auto 30px auto;
    width: 95%;
    padding: 0 20px;
}

footer.tablet > .tb_ft_sns > .sns_img > img{
    width: 37px; height: 37px;
    opacity: .3;
    cursor: pointer;
}

footer.tablet > .tb_ft_sns > .sns_img > img:hover{
    opacity: .7;
}

/* 반응형 */

@media screen and (max-width: 1480px){
    /* nav */
    body{
        overflow-x: hidden;
    }
    .nav_full{
        display: none !important;
    }

    .nav_button{
        display: block !important;
    }

}

@media screen and (max-width: 1119px){
    .contents > .top_ct > .top_tab{
        display: none;
    }

    .contents > .top_ct > .tablet_top_tab{
        display: block;
    }

    .md_ct,
    .bt_ct{
        width: 90%;
    }

    .accordion {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .md_ct > .news{
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }

    .md_ct > .news > .news_left{
        flex-direction: row;
        width: 100%;
        align-items: center;
        gap: 5%;
        max-width: none;
    }

    .md_ct > .news > .news_left > .news_more{
        display: none;
    }

    .md_ct > .news > .news_right{
        margin-top: 20px;
    }

    .bt_ct > .bt_banner{
        flex-direction: column;
    }

    .bt_ct > .bt_banner > .event, .bt_ct > .bt_banner > .service{
        width: 100%;
    }

    .bt_ct > .bt_banner > .event > .event_slider > .autoplay{
        height: auto;
    }

    .bt_ct > .bt_banner > .event > .event_slider > .autoplay .event_ct{
        width: 100%;
        height: auto !important;
    }

    .bt_ct > .bt_banner > .event > .event_slider > .autoplay .event_ct img{
        width: 100%;
        object-position: top;
    }

    footer.desktop{
        display: none;
    }

    footer.tablet{
        display: block;
    }
}

@media screen and (max-width: 658px){
    .md_ct > .news > .news_left > span:nth-child(2){
        font-size: 2.5rem;
    }

    .md_ct > .news > .news_right > .news_ct > .news_title{
        font-size: 1rem;
    }

    .md_ct > .news > .news_right > .news_ct > .news_date::before{
        width: 9px; height: 9px;
        background-size: cover;
        margin-right: 5px;
    }

    .md_ct > .news > .news_right > .news_ct > .news_date{
        font-size: 0.8rem;
    }
}